body{
    font-family: Arial, Helvetica, sans-serif;
}

.bg-section{
   background-image: url("../img/jumbo-bg.png");
   background-position: center center;
   background-size:cover;
   margin-top: 78px;
}
.immagine-second{
    background-color: black;
    min-height: 100px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center center;
    background-size:cover;
}

nav{
    position: fixed;
    top: 0%;
    right: 0;
    left: 0;
    z-index: 5;
}

.my-navbar{
    background-color: white;
    position: relative;
   
}

.button-my-style{
   border: 0.2px solid grey;
   color: grey;
   padding: 5px 10px;
  
}

.myclass-pad li {
    padding-right: 15px;
}

.myclass-pad li a{
    color: black;
}

nav .container-fluid ul li a:hover{
    color: blue;
}



.style-icon-list{
    width: 10px;
}


.img-mystyle-content {
 width: 100%;
 
}
.img-pad-stye{
    padding: 10px 0;
}



.prodouct-size-style{
    width: 80%;
    opacity: 0.5;
    transition: 0.8s;
}


.second-section-style{
    padding-top: 50px ;
    padding-bottom: 50px;
}

.first-section-style{
    padding-top: 250px ;   
}

.section-medium{
    padding-bottom: 20px;
    padding-top: 20px;
}



.big-title-style{
    padding-bottom: 12px;
}

.section-subtitle{
    padding-bottom: 12px;
}

.section-multiple{
    padding-top: 35px;
    padding-bottom: 35px;
}

.section-ps-plus{
    padding-top: 50px;
    padding-bottom: 50px;
}

.sublogo-style{
    padding-top: 20px;
}

footer ul li{
    list-style: none;
}

.style-subtitle{
    color: #727272
}

.btn-style-my{
    border-radius: 40px;
}

h2{
  font-size:2.5rem ;
}

h3{
  font-size: 2.3rem;
}
h4{
    font-size: 1.3rem;
}
h5{
    font-size: 0.9rem;
}
.button-color-psnow{
    background-color: #F5F5F5;
    color: black;
}
.btn-psplus{
    background-color: #D9DADC;
    color: #2D64E6;
    border: none;
}

.btn-danger{
    background-color: #CD3D0F;
}

.brd-style{
    border-radius: 30px;
   
   
}
.box-style-brd{
    border:1px solid blue
}
.lines-style{
    border: 2px solid blue;
   padding: 4px ;
}


.my-box-card{
    position: relative;
    bottom: 0;
    transition: 0.7s;
}


.my-box-card:hover{
    bottom: 10px;

    
}

.lines-box{
    position: relative;
    
}

.line-under::after {
    content: "";
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    background: #0072ce;
    border: 1.5px solid #0072ce;
    border-radius: 10px;
    width: 70%;
}


.lines-box:hover::after{
    content: "";
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    background: #0072ce;
    border: 1.5px solid #0072ce;
    border-radius: 10px;
    width: 70%;
   

}

.prodouct-size-style:hover{
    opacity: 1.0;
}

.overlay-box{
    position: relative;
}


/* Prove-submenu */



.try-menu{
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: white;
    transition: opacity 1s ease;
    opacity: 0;
    height: 0;
}


ul .active-submenu a:focus + .try-menu{
    height:auto;
    opacity: 1;
   
}


.sub-class-ps5{
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

.img-subnav{
    width: 100px;

}

.arrowdown{
    transition: 1s;
}

ul .active-submenu a:focus .arrowdown{
    transform: rotateX(180deg)
}

/* a{
  cursor: pointer;
} */

